*.pid
*.xml
*.csr
*.crt
*.key
www
OZW_Log.txt
home-assistant.log
gitpush.sh
home-assistant_v2.db
*.db-journal
lib
deps
tts
icloud
secrets.yaml
known_devices.yaml
groups.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
.*
!/.gitignore
!/.gitattributes
!/gitpush.sh
Groups/nmap_tracker.yaml
