# Documentation: https://www.home-assistant.io/docs/configuration/basic/
---
default_config:
homeassistant:
  packages: !include_dir_named packages

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml