{#- Template file for https://github.com/custom-components/readme -#}
# Welcome 👋!

This is my Home Assistant installation.

## Some statistics about my installation:

Description | value
--|--
Installed version | {{ states('sensor.current_version') }}
Total entity objects | {{ states | count }}
{%- set data = namespace(domains=[]) %}
{%- for state in states %}
{%- if state.domain not in data.domains %}
{%- set data.domains = data.domains + [state.domain] %}
{%- endif %}
{%- endfor %}
{%- for domain in data.domains %}
Entities in the [`{{domain}}`](https://www.home-assistant.io/components/{{domain}}) domain | {{states[domain] | count }}
{%- endfor %}


{%- set custom_categories = [
    {
        "key": "integration",
        "name": "integrations"
    },
    {
        "key": "plugin",
        "name": "lovelace plugins"
    },
    {
        "key": "theme",
        "name": "themes"
    }
] %}

## Core integrations that I use

Integration | Configuration
--|--
[AdGuard Home](https://home-assistant.io/integrations/adguard) | Config flow (UI configuration)
[Belkin WeMo](https://home-assistant.io/integrations/wemo) | Config flow (UI configuration)
[Default Config](https://home-assistant.io/integrations/default_config) | Config flow (UI configuration)
[LG webOS Smart TV](https://home-assistant.io/integrations/webostv) | [./packages/integrations/core/webostv.yaml](./packages/integrations/core/webostv.yaml)
[Met.no](https://home-assistant.io/integrations/met) | Config flow (UI configuration)
[Spotify](https://home-assistant.io/integrations/spotify) | Hidden

{% for category in custom_categories -%}
{%- set entries = hacs_components | selectattr("category", "eq", category.key) | selectattr("installed", "eq", True) | list -%}
{% if entries | count != 0 %}
## The custom {{category.name}} that I use
{% for entry in entries -%}
{% if entry.installed %}
### [{{entry.name}}]({{entry.documentation}})

_{{entry.description}}_

{% if category.key == "integration" and not entry.config_flow %}
[**My configuration for {{entry.name}}**](./packages/integrations/core/{{entry.domain}}.yaml)
{% endif -%}

**Version** | {{entry.installed_version}}
--|--
{% if entry.authors -%}
**Author(s)** | {{entry.authors|join(", ")}}
{% endif -%}
{% endif -%}
{%- endfor -%}
{% endif -%}
{%- endfor %}

***

Like all other Home Assistant instances this is also a Work in Progress :D